@using MyTaskCars.Enums
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="~/Css/style.css">
</head>

<body>

    <header>
        <nav>
            <a asp-controller="car" asp-action="index" class="logo"> Home </a>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer class="foooter">
        <div class="div-footer">
            <div class="container">

                <div class="row">
                    <p>Copyright @@ 2022 MrOOI. All rights reserved.</p>
                </div>

                <div class="row">
                    <div class="col">
                        <p>Email <a href="mailto:ogabekochilov25@gmail.com">MrOOI</a> </p>
                    </div>
                    <div class="col">
                        <p>GitHub <a href="https://github.com/MrOOI"> GitHub </a> </p>
                    </div>
                    <div class="col">
                        <p>Telegram <a href="https://t.me//Csharp_dev01"> MrOOI </a> </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>

</html>