* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: montserrat;
  color: azure;
}

label.logo {
  font-size: 100px;
  line-height: 100px;
  margin: 50px 20px 0 0;
}

nav {
  background-color: black;
  color: azure;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}

.btn {
  background: transparent;
  color: azure;
  outline: none;
  border: none;
  font-family: montserrat;
  font-size: 30px;
  list-style: none;
}

table,
th,
td {
  font-size: 30px;
  padding: 10px;
  color: black;
  border: 1px solid black;
  border-collapse: collapse;
}

.container {
  min-height: 100px;
}

.row {
  justify-content: space-between;
}

table {
  width: 98%;
  margin: 30px 10px 30px 10px;
}

.col {
  margin-top: 10px;
}

a {
  color: rgb(223, 37, 20);
  height: 30px;
  width: 100px;
  font-size: 20px;
}
.div-footer {
  margin-top: 200px;
  background-color: black;
  color: azure;
  min-height: 150px !important;
  width: 100% !important;
}
